body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: #181818;
  color: #f5f5f5;
}

button,
input,
select,
textarea {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  width: 150px;
}

input {
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  box-shadow: none;
}
input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

input:focus:invalid {
  border-color: #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

button {
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: #f5f5fa;
  border: none;
  border-radius: 8px;
  box-shadow: 10px 10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  color: #002830;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 15px;
  transition: 0.2s;
  user-select: none;
  white-space: pre;
}

button:hover {
  background: #f8f8ff;
  box-shadow: 0px 0px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}
.main {
  display: flex;
}
.left,
.right {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 100vh;
}
.left {
  background-image: url(sources/calm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.left .logotext {
  margin-top: 20vh;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  font-size: calc(1vw + 1vh + 0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}

.left img {
  width: 100px;
  height: 120px;
  margin-right: 1rem;
  padding-top: 20px;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right {
  padding-left: 3rem;
  padding-right: 3rem;
}
.right .container {
  margin-top: 18vh;
}
fieldset {
  padding: 2%;
  padding-bottom: 2vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 0;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Add this line for drop shadow */
}
fieldset .label {
  font-size: 0.5rem;
}
.label,
input {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.form-first-col,
.form-second-col {
  margin-right: 8vw;
}

label {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
}
.colorswitch {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 4rem;
  margin: 0.5rem;
}
.submit {
  height: 4rem;
  margin: 0.5rem;
}
.dark-mode {
  background-color: #f5f5f5;
  color: black;
}
.light-field {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add this line for drop shadow */
}
.switchstylebutton {
  background: #181818;
  color: #f5f5f5;
  box-shadow: 10px 10px 30px 0 #1d0dca17, 10px 10px 30px 0 #fff;
}
.switchstylebutton:hover {
  background: #1d0dca17;
  box-shadow: 0px 0px 30px 0 #1d0dca17, 15px 15px 30px 0 #1d0dca17;
}
